[[database]]
key = "sql_db"
host = "hostname"
user = "username"
pass = "password"
system = "sqlserver"
port = 1433
schema = "test_db"
encoding = "utf-8"

[[database]]
key = "mysql_db"
host = "localhost"
user = "test"
pass = "test1234"
system = "mysql"
port = 3306
schema = "test_db"
encoding = "utf-8"