[default]
dbname = "mysql_db"
input = "default.sql"
output = "default.csv"

[[database]]
name = "sql_db"
host = "hostname"
user = "username"
pass = "password"
system = "sqlserver"
port = 1433
schema = "test_db"
charset = "sjis"
timeout = 30

[[database]]
name = "mysql_db"
host = "localhost"
user = "test"
pass = "test1234"
system = "mysql"
port = 3306
schema = "test_db"
charset = "utf-8mb4"
timeout = 30